@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
}

/* Hide scrollbar for clean UI */
::-webkit-scrollbar { width: 0px; background: transparent; }

/* Custom Checkbox/Radio Styles */
.custom-radio:checked + div {
    background-color: white;
    color: black;
    border-color: white;
}

/* Form Autofill Styling Fix for Dark Mode */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset;
    transition: background-color 5000s ease-in-out 0s;
}
